<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div th:replace="~{nav.html::navbar}"></div>

<h4> 마이 페이지 </h4>

<div sec:authentication="principal.username"></div>
<div sec:authorize="isAuthenticated()">
    <h4>이 유저는 일반 유저 권한</h4>
</div>


</body>
</html>